<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1044145802854-gib4iid57uq8t2kf1lb4hbathrtg9v69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044145802854-gib4iid57uq8t2kf1lb4hbathrtg9v69</string>
	<key>API_KEY</key>
	<string>AIzaSyD2d_e2hvJcrPUe2Vpby_Eu_QKVbAnWScM</string>
	<key>GCM_SENDER_ID</key>
	<string>1044145802854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HotShot.HotShot</string>
	<key>PROJECT_ID</key>
	<string>hotshot-123</string>
	<key>STORAGE_BUCKET</key>
	<string>hotshot-123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044145802854:ios:25348e8303e5b7dd</string>
	<key>DATABASE_URL</key>
	<string>https://hotshot-123.firebaseio.com</string>
</dict>
</plist>